In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("global_house_purchase_dataset.csv")
df

,Unnamed: 0,property_id,country,city,property_type,furnishing_status,property_size_sqft,price,constructed_year,previous_owners,...,customer_salary,loan_amount,loan_tenure_years,monthly_expenses,down_payment,emi_to_income_ratio,satisfaction_score,neighbourhood_rating,connectivity_score,decision
0,0,50199,Canada,Montreal,Independent House,Unfurnished,2783,972064,1976,0,...,21960,619021,30,16965,353043,0.18,2,8,9,0
1,1,54477,USA,Chicago,Studio,Unfurnished,5456,2723798,2011,6,...,42205,1740436,15,14070,983362,0.36,9,3,3,1
2,2,70488,Australia,Brisbane,Independent House,Fully-Furnished,3891,1245574,1961,2,...,11145,1051276,15,3825,194298,0.82,9,4,9,0
3,3,28338,China,Beijing,Villa,Fully-Furnished,4751,1806095,1985,4,...,86140,1204543,25,17410,601552,0.09,2,9,3,0
4,4,99655,India,Pune,Independent House,Semi-Furnished,2243,334871,1969,0,...,9434,149442,20,2301,185429,0.12,10,3,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,12335,Australia,Brisbane,Apartment,Semi-Furnished,939,299511,1992,3,...,24305,194842,10,19170,104669,0.09,3,8,3,0
49996,49996,163351,Brazil,S√£o Paulo,Townhouse,Semi-Furnished,2607,521030,2015,5,...,28382,249640,10,9705,271390,0.10,3,6,2,0
49997,49997,65958,Australia,Melbourne,Apartment,Semi-Furnished,1618,513551,1961,3,...,72520,386442,10,18855,127109,0.06,5,2,8,0
49998,49998,195706,USA,New York,Villa,Fully-Furnished,4193,2101127,1961,5,...,42270,934891,10,18100,1166236,0.25,2,10,4,0
49999,49999,69974,Australia,Melbourne,Studio,Semi-Furnished,1883,606180,1990,4,...,26650,419425,20,5375,186755,0.12,2,5,8,0

In [21]:
df=df.drop(columns=['Unnamed: 0'])
df

,property_id,country,city,property_type,furnishing_status,property_size_sqft,price,constructed_year,previous_owners,rooms,...,customer_salary,loan_amount,loan_tenure_years,monthly_expenses,down_payment,emi_to_income_ratio,satisfaction_score,neighbourhood_rating,connectivity_score,decision
0,50199,Canada,Montreal,Independent House,Unfurnished,2783,972064,1976,0,2,...,21960,619021,30,16965,353043,0.18,2,8,9,0
1,54477,USA,Chicago,Studio,Unfurnished,5456,2723798,2011,6,5,...,42205,1740436,15,14070,983362,0.36,9,3,3,1
2,70488,Australia,Brisbane,Independent House,Fully-Furnished,3891,1245574,1961,2,2,...,11145,1051276,15,3825,194298,0.82,9,4,9,0
3,28338,China,Beijing,Villa,Fully-Furnished,4751,1806095,1985,4,2,...,86140,1204543,25,17410,601552,0.09,2,9,3,0
4,99655,India,Pune,Independent House,Semi-Furnished,2243,334871,1969,0,5,...,9434,149442,20,2301,185429,0.12,10,3,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,12335,Australia,Brisbane,Apartment,Semi-Furnished,939,299511,1992,3,6,...,24305,194842,10,19170,104669,0.09,3,8,3,0
49996,163351,Brazil,S√£o Paulo,Townhouse,Semi-Furnished,2607,521030,2015,5,3,...,28382,249640,10,9705,271390,0.10,3,6,2,0
49997,65958,Australia,Melbourne,Apartment,Semi-Furnished,1618,513551,1961,3,5,...,72520,386442,10,18855,127109,0.06,5,2,8,0
49998,195706,USA,New York,Villa,Fully-Furnished,4193,2101127,1961,5,8,...,42270,934891,10,18100,1166236,0.25,2,10,4,0
49999,69974,Australia,Melbourne,Studio,Semi-Furnished,1883,606180,1990,4,2,...,26650,419425,20,5375,186755,0.12,2,5,8,0

In [22]:
df.to_csv('data.csv',index=False)

In [ ]:
df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_id              50000 non-null  int64
 1   country                  50000 non-null  object
 2   city                     50000 non-null  object
 3   property_type            50000 non-null  object
 4   furnishing_status        50000 non-null  object
 5   property_size_sqft       50000 non-null  int64
 6   price                    50000 non-null  int64
 7   constructed_year         50000 non-null  int64
 8   previous_owners          50000 non-null  int64
 9   rooms                    50000 non-null  int64
 10  bathrooms                50000 non-null  int64
 11  garage                   50000 non-null  int64
 12  garden                   50000 non-null  int64
 13  crime_cases_reported     50000 non-null  int64
 14  legal_cases_on_property  50000 non-null  int64
 15  customer_salary          50000 non-null  int64
 16  loan_amount              50000 non-null  int64
 17  loan_tenure_years        50000 non-null  int64
 18  monthly_expenses         50000 non-null  int64
 19  down_payment             50000 non-null  int64
 20  emi_to_income_ratio      50000 non-null  float64
 21  satisfaction_score       50000 non-null  int64
 22  neighbourhood_rating     50000 non-null  int64
 23  connectivity_score       50000 non-null  int64
 24  decision                 50000 non-null  int64
dtypes: float64(1), int64(20), object(4)
memory usage: 9.5+ MB

In [4]:
df.to_csv('global_house_purchase_dataset.csv')

In [5]:
df=df.drop(columns=['property_id','down_payment','emi_to_income_ratio','decision','loan_amount','loan_tenure_years','customer_salary','city','crime_cases_reported','constructed_year','garage','satisfaction_score','legal_cases_on_property','connectivity_score'],axis=1)

In [6]:
df.corr(numeric_only=True)['price'].sort_values(ascending=True)

rooms                  -0.003765
garden                 -0.000416
neighbourhood_rating   -0.000288
bathrooms              -0.000252
previous_owners         0.000066
monthly_expenses        0.111132
property_size_sqft      0.749136
price                   1.000000
Name: price, dtype: float64

In [7]:
df

,country,property_type,furnishing_status,property_size_sqft,price,previous_owners,rooms,bathrooms,garden,monthly_expenses,neighbourhood_rating
0,Canada,Independent House,Unfurnished,2783,972064,0,2,1,0,16965,8
1,USA,Studio,Unfurnished,5456,2723798,6,5,5,0,14070,3
2,Australia,Independent House,Fully-Furnished,3891,1245574,2,2,2,1,3825,4
3,China,Villa,Fully-Furnished,4751,1806095,4,2,1,0,17410,9
4,India,Independent House,Semi-Furnished,2243,334871,0,5,2,1,2301,3
...,...,...,...,...,...,...,...,...,...,...,...
49995,Australia,Apartment,Semi-Furnished,939,299511,3,6,2,1,19170,8
49996,Brazil,Townhouse,Semi-Furnished,2607,521030,5,3,1,0,9705,6
49997,Australia,Apartment,Semi-Furnished,1618,513551,3,5,1,1,18855,2
49998,USA,Villa,Fully-Furnished,4193,2101127,5,8,4,0,18100,10
49999,Australia,Studio,Semi-Furnished,1883,606180,4,2,2,1,5375,5

In [8]:
df.isnull().sum()

country                 0
property_type           0
furnishing_status       0
property_size_sqft      0
price                   0
previous_owners         0
rooms                   0
bathrooms               0
garden                  0
monthly_expenses        0
neighbourhood_rating    0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
len(df['country'].value_counts().index)

13

In [11]:
len(df['property_type'].value_counts().index)

6

In [12]:
len(df['furnishing_status'].value_counts().index)

3

In [13]:
import os
import pickle
import numpy as np
import mlflow
import dagshub
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRFRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

# --- MLflow + DagsHub setup ---
CONFIG = {
    "TRACKING_URI": "https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow",
    "REPO_NAME": "Global_House_Price_Predictor",
    "REPO_OWNER": "Gousepakshaikh",
    "EXP_NAME": "EXPERIMENTS"
}

mlflow.set_tracking_uri(CONFIG["TRACKING_URI"])
dagshub.init(repo_name=CONFIG["REPO_NAME"], repo_owner=CONFIG["REPO_OWNER"], mlflow=True)
mlflow.set_experiment(experiment_name=CONFIG["EXP_NAME"])

# --- Algorithms ---
algorithms = {
    "LR": LinearRegression(),
    "XGB": XGBRFRegressor(),
    "DT": DecisionTreeRegressor()
}


x = df.drop(columns=['price'])
y = df['price']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)


trans = ColumnTransformer(transformers=[
    ('ohe', OneHotEncoder(drop='first', handle_unknown='ignore'),
     ['country', 'property_type', 'furnishing_status'])
], remainder='passthrough')

ohe_x_train = trans.fit_transform(x_train)
ohe_x_test = trans.transform(x_test)


with mlflow.start_run(run_name='best-model') as parent:
    for algo_name, algorithm in algorithms.items():
        with mlflow.start_run(run_name=algo_name, nested=True):

            # Train model
            model = algorithm
            model.fit(ohe_x_train, y_train)
            preds = model.predict(ohe_x_test)

            
            metrics = {
                "MAE": float(mean_absolute_error(y_test, preds)),
                "RMSE": float(np.sqrt(mean_squared_error(y_test, preds))),
                "R2_Score": float(r2_score(y_test, preds)),
                "MAPE": float(mean_absolute_percentage_error(y_test, preds))
            }

            
            mlflow.log_metrics(metrics)
            mlflow.log_param("model", algo_name)
            if hasattr(model, "get_params"):
                mlflow.log_params(model.get_params())

            
            os.makedirs('models', exist_ok=True)
            model_path = f"models/{algo_name}.pkl"
            with open(model_path, 'wb') as f:
                pickle.dump(model, f)

            mlflow.log_artifact(model_path)

Accessing as Gousepakshaikh

Initialized MLflow to track repo "Gousepakshaikh/Global_House_Price_Predictor"

Repository Gousepakshaikh/Global_House_Price_Predictor initialized!

üèÉ View run LR at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2/runs/d31ab946b66e4831bd75ca5dba2a8352
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2
üèÉ View run XGB at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2/runs/29c775cbb1614bb1bf2bd311fde52fac
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2
üèÉ View run DT at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2/runs/ef1ca8a44e944daeb3ff0bf2b31982eb
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2
üèÉ View run best-model at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2/runs/209b68059678423ea8f3c8c78ef508b1
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/2