In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("global_house_purchase_dataset.csv")

In [3]:
df

,Unnamed: 0,property_id,country,city,property_type,furnishing_status,property_size_sqft,price,constructed_year,previous_owners,...,customer_salary,loan_amount,loan_tenure_years,monthly_expenses,down_payment,emi_to_income_ratio,satisfaction_score,neighbourhood_rating,connectivity_score,decision
0,0,50199,Canada,Montreal,Independent House,Unfurnished,2783,972064,1976,0,...,21960,619021,30,16965,353043,0.18,2,8,9,0
1,1,54477,USA,Chicago,Studio,Unfurnished,5456,2723798,2011,6,...,42205,1740436,15,14070,983362,0.36,9,3,3,1
2,2,70488,Australia,Brisbane,Independent House,Fully-Furnished,3891,1245574,1961,2,...,11145,1051276,15,3825,194298,0.82,9,4,9,0
3,3,28338,China,Beijing,Villa,Fully-Furnished,4751,1806095,1985,4,...,86140,1204543,25,17410,601552,0.09,2,9,3,0
4,4,99655,India,Pune,Independent House,Semi-Furnished,2243,334871,1969,0,...,9434,149442,20,2301,185429,0.12,10,3,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,12335,Australia,Brisbane,Apartment,Semi-Furnished,939,299511,1992,3,...,24305,194842,10,19170,104669,0.09,3,8,3,0
49996,49996,163351,Brazil,S√£o Paulo,Townhouse,Semi-Furnished,2607,521030,2015,5,...,28382,249640,10,9705,271390,0.10,3,6,2,0
49997,49997,65958,Australia,Melbourne,Apartment,Semi-Furnished,1618,513551,1961,3,...,72520,386442,10,18855,127109,0.06,5,2,8,0
49998,49998,195706,USA,New York,Villa,Fully-Furnished,4193,2101127,1961,5,...,42270,934891,10,18100,1166236,0.25,2,10,4,0
49999,49999,69974,Australia,Melbourne,Studio,Semi-Furnished,1883,606180,1990,4,...,26650,419425,20,5375,186755,0.12,2,5,8,0

In [4]:
df=df.sample(50000,ignore_index=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               50000 non-null  int64
 1   property_id              50000 non-null  int64
 2   country                  50000 non-null  object
 3   city                     50000 non-null  object
 4   property_type            50000 non-null  object
 5   furnishing_status        50000 non-null  object
 6   property_size_sqft       50000 non-null  int64
 7   price                    50000 non-null  int64
 8   constructed_year         50000 non-null  int64
 9   previous_owners          50000 non-null  int64
 10  rooms                    50000 non-null  int64
 11  bathrooms                50000 non-null  int64
 12  garage                   50000 non-null  int64
 13  garden                   50000 non-null  int64
 14  crime_cases_reported     50000 non-null  int64
 15  legal_cases_on_property  50000 non-null  int64
 16  customer_salary          50000 non-null  int64
 17  loan_amount              50000 non-null  int64
 18  loan_tenure_years        50000 non-null  int64
 19  monthly_expenses         50000 non-null  int64
 20  down_payment             50000 non-null  int64
 21  emi_to_income_ratio      50000 non-null  float64
 22  satisfaction_score       50000 non-null  int64
 23  neighbourhood_rating     50000 non-null  int64
 24  connectivity_score       50000 non-null  int64
 25  decision                 50000 non-null  int64
dtypes: float64(1), int64(21), object(4)
memory usage: 9.9+ MB

In [6]:
df=df.drop(columns=['property_id','down_payment','emi_to_income_ratio','decision','loan_amount','loan_tenure_years','customer_salary','city','crime_cases_reported','constructed_year','garage','satisfaction_score','legal_cases_on_property','connectivity_score'],axis=1)

In [7]:
df.corr(numeric_only=True)['price'].sort_values(ascending=True)

rooms                  -0.003765
garden                 -0.000416
neighbourhood_rating   -0.000288
bathrooms              -0.000252
previous_owners         0.000066
Unnamed: 0              0.008543
monthly_expenses        0.111132
property_size_sqft      0.749136
price                   1.000000
Name: price, dtype: float64

In [8]:
df

,Unnamed: 0,country,property_type,furnishing_status,property_size_sqft,price,previous_owners,rooms,bathrooms,garden,monthly_expenses,neighbourhood_rating
0,6060,South Africa,Studio,Fully-Furnished,4112,745016,1,7,6,1,16115,2
1,32345,China,Farmhouse,Semi-Furnished,5649,2147772,4,3,2,1,4510,2
2,11625,UAE,Independent House,Unfurnished,3761,2257152,4,6,6,1,6890,8
3,34460,Singapore,Townhouse,Fully-Furnished,4328,3029730,6,7,4,1,16660,5
4,11679,China,Farmhouse,Fully-Furnished,821,307795,6,6,3,0,15115,8
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,44349,UK,Townhouse,Semi-Furnished,554,225316,0,2,1,0,14470,2
49996,10177,Canada,Independent House,Fully-Furnished,1550,538872,1,4,2,1,13265,10
49997,45925,India,Villa,Semi-Furnished,3349,498403,4,8,6,0,665,10
49998,26290,France,Independent House,Unfurnished,2680,1124337,3,3,1,0,11160,10
49999,43911,South Africa,Studio,Semi-Furnished,928,165960,2,4,2,0,17860,9

In [9]:
df.isnull().sum()

Unnamed: 0              0
country                 0
property_type           0
furnishing_status       0
property_size_sqft      0
price                   0
previous_owners         0
rooms                   0
bathrooms               0
garden                  0
monthly_expenses        0
neighbourhood_rating    0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
df['previous_owners'].value_counts()

previous_owners
5    7214
0    7196
1    7192
6    7131
2    7099
3    7097
4    7071
Name: count, dtype: int64

In [11]:
df['rooms'].value_counts()

rooms
8    6456
1    6341
6    6301
7    6275
3    6220
4    6183
5    6129
2    6095
Name: count, dtype: int64

In [12]:
df['bathrooms'].value_counts()

bathrooms
1    17124
2    10517
3     7540
4     5560
5     4024
6     2710
7     1711
8      814
Name: count, dtype: int64

In [13]:
df['garden'].value_counts()

garden
0    25179
1    24821
Name: count, dtype: int64

In [14]:
df['neighbourhood_rating'].value_counts()

neighbourhood_rating
9     5192
3     5048
5     5039
4     5036
6     4990
7     4983
8     4969
1     4957
10    4930
2     4856
Name: count, dtype: int64

In [12]:
df['country'].value_counts()

country
China           4074
Canada          3873
USA             3868
France          3866
Singapore       3865
Australia       3838
South Africa    3836
Japan           3836
Brazil          3805
India           3797
UAE             3785
UK              3783
Germany         3774
Name: count, dtype: int64

In [14]:
df['property_type'].value_counts()

property_type
Apartment            8508
Townhouse            8396
Villa                8384
Studio               8294
Independent House    8233
Farmhouse            8185
Name: count, dtype: int64

In [15]:
df['furnishing_status'].value_counts()

furnishing_status
Fully-Furnished    16769
Unfurnished        16705
Semi-Furnished     16526
Name: count, dtype: int64

In [16]:
import os
import pickle
import numpy as np
import mlflow
import dagshub
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRFRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

# --- MLflow + DagsHub setup ---
CONFIG = {
    "TRACKING_URI": "https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow",
    "REPO_NAME": "Global_House_Price_Predictor",
    "REPO_OWNER": "Gousepakshaikh",
    "EXP_NAME": "EXP1"
}

mlflow.set_tracking_uri(CONFIG["TRACKING_URI"])
dagshub.init(repo_name=CONFIG["REPO_NAME"], repo_owner=CONFIG["REPO_OWNER"], mlflow=True)
mlflow.set_experiment(experiment_name=CONFIG["EXP_NAME"])

# --- Algorithms ---
algorithms = {
    "LR": LinearRegression(),
    "XGB": XGBRFRegressor(),
    "DT": DecisionTreeRegressor()
}


x = df.drop(columns=['price'])
y = df['price']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)


trans = ColumnTransformer(transformers=[
    ('ohe', OneHotEncoder(drop='first', handle_unknown='ignore'),
     ['country', 'property_type', 'furnishing_status'])
], remainder='passthrough')

ohe_x_train = trans.fit_transform(x_train)
ohe_x_test = trans.transform(x_test)


with mlflow.start_run(run_name='best-model') as parent:
    for algo_name, algorithm in algorithms.items():
        with mlflow.start_run(run_name=algo_name, nested=True):

            # Train model
            model = algorithm
            model.fit(ohe_x_train, y_train)
            preds = model.predict(ohe_x_test)

            
            metrics = {
                "MAE": float(mean_absolute_error(y_test, preds)),
                "RMSE": float(np.sqrt(mean_squared_error(y_test, preds))),
                "R2_Score": float(r2_score(y_test, preds)),
                "MAPE": float(mean_absolute_percentage_error(y_test, preds))
            }

            
            mlflow.log_metrics(metrics)
            mlflow.log_param("model", algo_name)
            if hasattr(model, "get_params"):
                mlflow.log_params(model.get_params())

            
            os.makedirs('models', exist_ok=True)
            model_path = f"models/{algo_name}.pkl"
            with open(model_path, 'wb') as f:
                pickle.dump(model, f)

            mlflow.log_artifact(model_path)

Initialized MLflow to track repo "Gousepakshaikh/Global_House_Price_Predictor"

Repository Gousepakshaikh/Global_House_Price_Predictor initialized!

üèÉ View run LR at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1/runs/b113b0cdff674ce6aefaac675249935b
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1
üèÉ View run XGB at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1/runs/ddbd290900784ad49510cab442ff693a
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1
üèÉ View run DT at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1/runs/675e7fa5ae6344d2a92e0c6ed9106e24
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1
üèÉ View run best-model at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1/runs/657e26c6c6844ad69223c756c40c222c
üß™ View experiment at: https://dagshub.com/Gousepakshaikh/Global_House_Price_Predictor.mlflow/#/experiments/1

In [17]:
print(model)

DecisionTreeRegressor()

In [18]:
print(metrics)

{'MAE': 3639.435, 'RMSE': 4503.478791090283, 'R2_Score': 0.9999705015651128, 'MAPE': 0.005589940887170661}

In [19]:
df.shape

(50000, 11)